@{
    ViewData["Title"] = "Trang chủ";
}

@model List<HakunaMatata.Models.ViewModels.VM_News>

@section scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=LoadMarker">
    </script>
    <script type="text/javascript" src="~/assets/js/maplace-active.js"></script>
    <link rel="stylesheet" href="~/assets/css/NewsList.css">
}
<!-- main news start -->
<div>
    <div class="container-news">
        <div class="bg-navbar-news">
        </div>
        <div class="bg-sesion-link">
            <div class="sesion-link container">
                <a href="/" class="sesion-link-item">
                    <span>Home</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="/" class="sesion-link-item">
                    <span>News</span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <a href="/" class="sesion-link-item">
                    <span>ACT</span>
                </a>
            </div>
        </div>
        <div class="container-first-content" style="background-image: url(../assets/img/banner/pexels-photo-6489734.jpeg)">
            <div class="container">
                <div class="container-title-box">
                    <h3 class="container-title-text">ACT Real Estate and Property Market News</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main news end -->
<!-- body news start -->
<div class="container">
    <div class="container-body-news row">
        <div class="col-lg-7 line-right news-list mb-5">
            <div class="news-item">
                <a href="/" class="row" style="height: 100%;">
                    <div class="img-news-box col-6"></div>
                    <div class="news-info-box col-6">
                        <div style="color:black" class="news-title">@Model.FirstOrDefault()?.Title</div>
                        <div class="authur-times">
                            <div class="authur-text">Jessica Taulaga</div>
                            <div class="times-text">June 17, 2023</div>
                        </div>
                        <p class="text-color news-content">The residence at 30 Crozier Circuit spans 997 square metres of land.</p>
                    </div>
                </a>
            </div>
            @foreach (var item in Model)
            {
                <div class="news-item-second">
                    <a asp-action="NewsDetails" asp-route-id="@item.Id" class="row">

                        <div class="img-news-box col-5" style="background-image: url(../images/@item.UrlImage);"></div>
                        <div class="news-info-box-second col-7">
                            <div class="news-title" style="color:black">@item.Title</div>
                            <div class="authur-times">
                                <div class="authur-text">Jessica Taulaga</div>
                                <div class="times-text" style="color:black">June 17, 2023</div>
                            </div>
                            <div class="row">
                                <div class="news-item-topic col-auto">Report</div>
                                <div class="news-item-topic col-auto">Rental Price</div>
                            </div>

                        </div>

                    </a>
                </div>
            }
        </div>

        <div class="col-lg-5">
            <div class="recommend-text">We recommend</div>
            @{
                var random = new Random();
                var randomItems = Model.OrderBy(x => random.Next()).Take(4);
            }

            @foreach (var item in randomItems)
            {
                <div class="flash-news bdb">

                    <a asp-action="NewsDetails" asp-route-id="@item.Id" class="row">
                        <div class="col-6">
                            <img class="img-flash-news" src="../images/@item.UrlImage" />
                        </div>
                        <div class="col-6">
                            <p class="text-color authur-times" style="color:black">@item.Title</p>
                        </div>
                    </a>

                </div>
            }
        </div>

    </div>

</div>
<!-- body news end -->


